  body {
 background: url("../images/ffviiibg.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     position: relative;
}

.questionContainer {
  
  max-width: 50%;
  height: 100%;
  margin-top: 15%;
  margin-left: 15%;
  background-color: whitesmoke;
}
