body {
  background-image: url("../images/ffviiibg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.questionContainer {
  width: 400px;
  height: 125px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
}
